.home{
  display: flex;
  justify-content: center;
  align-items: start;
  width:100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ay-simulasyonu {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 250px;
  height: 250px;
  animation: ay-donme 10s infinite linear;
  z-index: 1;
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
  transition: transform 2s ease-in-out, font-size 2s ease-in-out;
}

@media screen and (max-width: 320px) {

  .ay-simulasyonu {
      width: 70px;
      height: 70px;

  }
  @keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(3%); /* Aşağı yönde hareket */
    }
}
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .ay-simulasyonu {
      width: 120px;
      height: 120px;
      transform-origin: center;
      transform: scale(0.6);
      font-size: 18px;
  }
  @keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(4%); /* Aşağı yönde hareket */
    }
}
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .ay-simulasyonu {
      width: 150px;
      height: 150px;
      transform-origin: center;
      transform: scale(0.7);
      font-size: 20px;
  }
  @keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(6%); /* Aşağı yönde hareket */
    }
}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .ay-simulasyonu {
      width: 190px;
      height: 190px;

  }
  @keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(7%); /* Aşağı yönde hareket */
    }
}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .ay-simulasyonu {
      width: 210px;
      height: 210px;
      transform-origin: center;
      transform: scale(1);
      font-size: 26px;
  }
}


@media screen and (min-width: 1200px) {
  .ay-simulasyonu {
      width: 250px;
      height: 250px;
      transform-origin: center;
      transform: scale(1.2);
      font-size: 30px;
  }
  @keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10%); /* Aşağı yönde hareket */
    }
}
}
 
@keyframes moveUpDown {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(10%); /* Aşağı yönde hareket */
  }
}
  .ay {
    position: absolute;
    width: 40%;
    left: -20%;
    animation: ay-donme2 10s infinite linear;
  }
  .ay2 {
    position: absolute;
    width: 40%;
    right: -20%;
    animation: ay-donme2 10s infinite linear;

  }
  .ay3 {
    width: 40%;
    position: absolute;
    left: 32%;
    bottom: -20%;

    animation: ay-donme2 10s infinite linear;
  }
  
  @keyframes ay-donme2 {
    0%{
      transform:rotate(360deg);
    }
    100% {
      transform:rotate(0deg);

    }
  }
  @keyframes ay-donme {
    0%{
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(360deg);

    }
  }


  .frame2{
    animation: moveUpDown 6s ease-in-out infinite;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }
  .kafa{
    position: absolute;
    z-index: 2 ;
    animation: kafaDon 6s ease-in-out infinite ; 
  }
  .golge{
    position: relative;
    animation: moveGolge 6s ease-in-out infinite ; 
  }
  .golgeCerceve{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1px;
  z-index: 0;

  }


  @keyframes moveGolge {
    0%, 100%{
      width: 25%;   
    }
    50% {
      width: 40%;

    }
  }







  @keyframes kafaDon {

    40% {
      rotate: 4deg;
    }
    60% {
      rotate: -2deg;
    }

  }
  .baslik{
    color: #707070;
    font-weight: 600;
    animation: fadeInUp 1.5s forwards;
  }
  /* hyper text*/
  .containerx{
    width: 100%;
    overflow:hidden;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 3s forwards;
    margin-bottom: 100px;
    }
    .about{
      margin-top: 20px;
      color: #707070;
      font-weight:100;
      width: 100%;
      opacity: 0;
      transform: translateY(20px);
      animation: fadeInUp 3s forwards;
    }
    @keyframes fadeInUp {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    .containerx .kayan{
      position: relative;
      color: #707070;
      font-weight: 600;
    }
    .containerx .kayan.first-text{
    color: #fff;
    margin-right: 10px;
    }
    .kayan.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 110%;
    width: 100%;
    background-color: #E4E9F7;
    border-left: 2px solid #707070;;
    animation: animate 4s steps(12) infinite;
    
    }
    @keyframes animate{
      40%, 60%{
        left: calc(100% + 4px);
      }
      100%{
        left: 0%;
      }
    }
