
@media screen and (max-width: 320px) {
  
  .notifications .toast{
    width: 200px;
  }

}

@media screen and (min-width: 321px) and (max-width: 480px) {

  
  .notifications .toast{
    width: 240px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {

  .notifications .toast{
    width: 280px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

  .notifications .toast{
    width: 320px;
  }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .notifications .toast{
    width: 360px;
  }

}
@media screen and (min-width: 1200px) {
  .notifications .toast{
    width: 400px;
  }

}

.home{
  display: flex;
  justify-content: center;
  align-items: start;
    width:100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll; /* Sadece dikey kaydırma */
    overflow-x: hidden; /* Yatay kaydırmayı gizle */
}


.conCerceve{
  height: 90vh;
  display: flex;
  justify-content: center;
  animation: fadeInUp 3s forwards;
align-items:start;
  }

  .custom-input {
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    margin: 20px;
    width: 100%;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.14) , 0px 1px 10px 0px rgba(0,0,0,0.12) , 0px 2px 4px -1px rgba(0,0,0,0.2) ;
    transition: all 0.5s ease-in-out;
  }
  
  .custom-input:focus, .custom-textarea:focus {
    outline: none; /* Mevcut varsayılan odak stili (genellikle bir çerçeve) kaldırılır */
  }
  .custom-textarea {
    padding: 10px;
    border: 0px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.14) , 0px 1px 10px 0px rgba(0,0,0,0.12) , 0px 2px 4px -1px rgba(0,0,0,0.2) ;
    border-radius: 5px;
    resize: vertical;
    min-height: 100px;
    resize: none;
    margin: 20px;
    width: 100%;
    transition: all 0.5s ease-in-out;
  }
  .custom-textarea:hover, .custom-input:hover, .custom-button:hover, .custom-input:hover .errorx {
    background: #fffdfd;
    box-shadow: 0px 16px 24px 2px rgba(0,0,0,0.14) , 0px 6px 30px 5px rgba(0,0,0,0.12) , 0px 8px 10px -7px rgba(0,0,0,0.2);
    transform: translateY(-3px);
  }
  
  .custom-textarea::placeholder {
    color: #999;
  }
  
  .errorx {
    position: absolute;
    right:4%;
    bottom: -1%;
    display: flex;
    align-items: center;
    background-color: #f5c6cb; /* Yumuşak kırmızı tonu */
    color: #721c24; /* Daha koyu bir renk tonu */
    padding: 3px;
    border-radius: 8px;
    margin: 10px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Kutu gölgesi */
    transition: opacity 0.3s, max-height 0.3s;
    animation: fadeInUp 0.5s forwards;
    animation: fadeOpa 3s forwards;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.14) , 0px 1px 10px 0px rgba(0,0,0,0.12) , 0px 2px 4px -1px rgba(0,0,0,0.2) ;
  }
  .errorx.active {
    opacity: 1;
    max-height: 100px;
  }
  .custom-button {
    background-color: #454545;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin-bottom: 2%;
  }
  
  .custom-button:hover {
    background-color: #333333;
    transform: translateY(-10px);
  }
  .formDiv{
    position: relative;
    display: flex;
    width: 100%;
  }
  .formDiv{
display: flex;
justify-content: space-between;
    width: 100%;
  }
  .form{
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 8px 17px 2px rgba(0,0,0,0.14) , 0px 3px 14px 2px rgba(0,0,0,0.12) , 0px 5px 5px -3px rgba(0,0,0,0.2) ;
    transition: all 0.5s ease-in-out;
  }
  .conCerceve .capture{
    margin-top: 100px;
  }
  .form:hover{
    box-shadow: 0px 16px 24px 2px rgba(0,0,0,0.14) , 0px 6px 30px 5px rgba(0,0,0,0.12) , 0px 8px 10px -7px rgba(0,0,0,0.2);
  }
  .form .arrowImg{
    margin-right: 2%;
    margin-bottom: 2%;

    rotate: 6deg;
  }
  .links{
    display: flex;
    justify-content: end;
    width: 100%;
    position: absolute;
    bottom: -60px;
    right: 10px;

  }
  .links a{
    width: 12%;
    margin: 8px;
  }
  a .linksImg{
    rotate: 0deg;
width: 100%;
    border-radius: 24%;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.14) , 0px 1px 10px 0px rgba(0,0,0,0.12) , 0px 2px 4px -1px rgba(0,0,0,0.2) ;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }

.linksImg:hover{
  box-shadow:0px 8px 17px 2px rgba(0,0,0,0.14) , 0px 3px 14px 2px rgba(0,0,0,0.12) , 0px 5px 5px -3px rgba(0,0,0,0.2) ;
  transform: translateY(-10px);
}





:root{
  --dark:#34495E;
  --light: #ffffff;
  --success: #0ABF30;
  --error: #E24D4C;
  --warning: #E9BD0C;
  --info:#3498DB;
  --tans:#ffffff00;
}

.ust{
  background: #eef0f1;
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items:start;
  border-radius: 6px;
  padding: 20px;
  margin: 20px;
  font-size: larger;
  box-shadow:0px 2px 5px 0px rgba(0,0,0,0.14) , 0px 1px 10px 0px rgba(0,0,0,0.12) , 0px 2px 4px -1px rgba(0,0,0,0.2)  ;
}
.alt{
  display: flex;
  justify-content: center;
}
.notifications{
  position: fixed;
  top: 8%;
  right: 20px;
  background: var(--trans);

}
.toast:not(.show){
  display:flex;
}
.notifications :where(.toast, .column){
  display: flex;
  align-items: center;
}
.notifications .toast{
  position: relative;
  overflow: hidden;
  list-style: none;
  border-radius: 8px;
  padding: 5%;
  margin-bottom: 10px;
  background: #eef0f1;
  justify-content: space-between;
animation: show_toast 0.3s ease forwards;
box-shadow:0px 2px 5px 0px rgba(0,0,0,0.14) , 0px 1px 10px 0px rgba(0,0,0,0.12) , 0px 2px 4px -1px rgba(0,0,0,0.2)  ;
}

@keyframes show_toast {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-5%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.notifications .toast.hide{
  animation: hide_toast 0.3s ease forwards;
  }
  @keyframes hide_toast{
    0%{
      transform: translateX(-10px);
    }
    40%{
      transform: translateX(0%);
    }
    80%{
      transform: translateX(-5%);
    }
    100%{
      transform: translateX(calc(100% + 20px));
    }
  }
.toast::before{
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  animation: progress 5s ease forwards;
}

@keyframes progress {
  100% {
    width: 0;
  }
}
.toast.success::before, .btn#success{
background: var(--success);
}
.toast.success2::before, .btn#success2{
background: var(--success);
}
.toast.success3::before, .btn#success3{
background: var(--success);
}
.toast.info::before, .btn#info{
background: var(--info);
}
.toast.success .column i{
color: var(--success);
font-size: 15px;
}
.toast.success2 .column i{
color: var(--success);
font-size: 15px;
}
.toast.success3 .column i{
color: var(--success);
font-size: 15px;
}
.toast.info .column i{
color: var(--info);
}
.toast .column span{
  margin-left: 12px;
}
.toast i:last-child{
  color: #AEB0D7;
  cursor: pointer;
  font-size: 15px;
  }
.toast i:last-child:hover{
color: var(--dark);
}
.buttons{
  margin-top: 50px;
  background: #eef0f1;
  display: flex;
  justify-content: space-between;
  align-items:start;
  border-radius: 6px;
  padding: 20px;
  box-shadow:0px 2px 5px 0px rgba(0,0,0,0.14) , 0px 1px 10px 0px rgba(0,0,0,0.12) , 0px 2px 4px -1px rgba(0,0,0,0.2)  ;
}
.buttons .btn{
  border:none;
  outline: none;
  color: #fff;
  cursor: pointer;
  margin: 0 5px;
  padding:10px 20px;
  border-radius: 4px;
}
.buttons .btn:hover{
  box-shadow:0px 2px 5px 0px rgba(0,0,0,0.14) , 0px 1px 10px 0px rgba(0,0,0,0.12) , 0px 2px 4px -1px rgba(0,0,0,0.2)  ;
transition: all 0.4s ease;
}
@media screen and (max-width: 530px){

  .notifications .toast{
    margin-left: 20px;
  }
  .buttons .btn{
    margin: 0 1px;
    font-size: 1.1rem;
    padding: 8px 15px;
  }
}
.contact .capture{
margin-top: 60px;
}