@media screen and (max-width: 320px) {
  .lead {
    font-size: 5px;
  }

  .skills .mySwiper {
    height: 350px;
    padding-bottom: 10%;
  }
  .skill-bar {
    height: 5px;
  }
  .skill-per::before {

    font-size: 7px;
    top: -20px;
    right: 0;
  }
  .skill-name img {
    width: 11%;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .lead {
    font-size: 8px;
  }

  .skills .mySwiper {
    height: 350px;
    padding-bottom: 20px;
  }
  .skill-bar {
    height: 7px;
  }
  .skill-per::before {
    font-size: 8px;
    top: -25px;
    right: 0;
  }
  .skill-name img {
    width: 10%;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .lead {
    font-size: 11px;
  }

  .skills .mySwiper {
    height: 450px;
    padding: 3%;
  }
  .skill-bar {
    height: 9px;
  }
  .skill-per::before {
    font-size: 9px;
    top: -27px;
    right: 0;
  }
  .skill-name img {
    width: 9%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .lead {
    font-size: 16px;
  }

  .skills .mySwiper {

    height: 550px;
  }
  .skill-bar {
    height: 11px;
  }
  .skill-per::before {
    font-size: 10px;
    top: -30px;
    right: 0;
  }
  .skill-name img {
    width: 9%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .lead {
    font-size: 20px;
  }

  .skills .mySwiper {
    height: 500px;
  }
  .skill-bar {
    height: 13px;
  }
  .skill-per::before {
    font-size: 11px;
    top: -35px;
    right: 0;
  }
  .skill-name img {
    width: 8%;
  }
  .containert {
    height: 450px;
  }
}


@media screen and (min-width: 1200px) {
  .lead {
    font-size: 18px;
  }

  .skills .mySwiper {
    height: 500px;
  }
  .skill-bar {
    height: 15px;
  }
  .skill-per::before {
    font-size: 12px;
    top: -35px;
    right: 0;
  }
  .skill-name img {
    width: 7%;
  }
  .containert {
    height: 450px;
  }
}

.skillsCerceve {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.imgSkills {

  animation: fadeInUp 3s forwards;
}

.imgSkills .mySwiper {
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 10px;
  display: flex;
}

.imgSkills img {
  width: 40%;
  border-radius: 25%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.imgSkills .swiper-slide {
  display: flex;
  justify-content: center;
}

 .swiper-slide-visible{
  height: 20px;
 } 
 .swiper-slide-active{
  height: 20px;
 }
/*swiper*/


.skills {
  border-radius: 50px;
  animation: fadeInUp 3s forwards;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 26px 10px -25px rgba(0, 0, 0, 0.46);
}

.skills .mySwiper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 20px;
  margin-top: 10px;
}

.skill {

  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.skill:hover .skill-per {
  animation: fillBars 1.5s ease-in-out;
}

.skill-name {
  font-weight: 500;
  color: #454545;
  text-transform: uppercase;
margin: 10px;
  display: flex;
  align-items: center;
}

.skill-name img {
  margin-right: 10px;
}

.skill-bar {
  background: #8a8585;
  border-radius: 4px;
}

.skill-per {
  height: 100%;
  background: #454545;
  border-radius: 3px;
  position: relative;

}

.skill-per::before {
  padding: 4px 6px;
  content: attr(per);
  position: absolute;
  background: #454545;
  color: #fff;
  border-radius: 4px;
  transform: translateX(50%);
}

@keyframes fillBars {
  0% {
    width: 100%;
  }

  50% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.containert {
  display: flex;
  padding: 50px 0;
  border-radius: 20px;
  row-gap: 30px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
  transition: 0.3s all ease-in-out;

}

.containert:hover,
.skill:hover {
  box-shadow: 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12), 0px 8px 10px -7px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

.circular-progress {
  position: relative;
  width:50%;
  height: 5px;
  border-radius: 50%;
  background: conic-gradient(#454545 3.6deg, #6d6a6a 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12), 0px 8px 10px -7px rgba(0, 0, 0, 0.2);

}

.circular-progress::before {
  content: "";
  position: absolute;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  background-color: #e4e9f7;

}

.progress-value {
  position: relative;
  font-weight: 600;
  color: #454545;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.progress-value img {
  position: absolute;
  width: 40%;
  border-radius: 25%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);

}

.textt {
  margin-top:10%;
  text-align: center;
  font-weight: 300;
  color: #606060;
}
.skills .mySwiper2{
  margin-bottom: 20px;
}